// declare all colours.

$white: #ffffff;
$black: #202020;

// primary - highlight colour
$primary-300: #3792f2; // CTA / links rollover
$primary-400: #0078f7; // preferred CTA / Links
$primary-700: #00356e; // new

// secondary - bolder colour
$secondary-300: #a2a2b6;
$secondary-500: #6464c1;
$secondary-600: #15153a;
$secondary-700: #282878;
$secondary-800: #221a55;
$secondary-900: #01011a;

// tertiary
$tertiary-100: #e4edf6;
$tertiary-400: #000000;
$tertiary-600: #000000;

// greys.
$grey-100: #E6E6E6;
$grey-200: #ABB2BF;
$grey-400: #a7a7a6;
$grey-500: #87969c;
$grey-700: #97a8bb; // skew box grey.
$grey-800: #333333;

// main.
$primary-color: $primary-400;
$secondary-color: $grey-700;
$tertiary-color: $tertiary-100;

// links.
$link-color: $primary-400;
$link-hover: $primary-300;

// mobile menu.
$menu-mobile-container: $secondary-900;
$menu-mobile-submenu: $secondary-600;
$menu-mobile-submenu-submenu: $secondary-500;
$menu-mobile-divider: $secondary-900;

// desktop menu.
$menu-desktop-container: $secondary-900;
$menu-desktop-submenu: $secondary-600;
$menu-desktop-submenu-submenu: $secondary-500;
$menu-desktop-divider: $secondary-900;
$menu-desktop-search: $secondary-900;

// menu text/links.
$menu-link: $white;
$menu-hover: $grey-100;

// highlight elements (pricing table, case study overlay).
$cs-overlay: $secondary-700;
$hero-overlay: $primary-700;

// forms.
$error: #B80611;
$success: green;

// font-stack.
$font-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

$font-code: Hack,
"Fira Code",
Consolas,
Menlo,
Monaco,
"Andale Mono",
"Lucida Console",
"Lucida Sans Typewriter",
"DejaVu Sans Mono",
"Bitstream Vera Sans Mono",
"Liberation Mono",
"Nimbus Mono L",
"Courier New",
Courier,
monospace;

// spacing.
$sm-padding: 2rem;
$lg-padding: 4rem;
