// define colors to use later in SASS functions

// The button color is this.
$colors: ('primary-color': $primary-color,
    'secondary-color': $secondary-color,
    'tertiary-color': $tertiary-color,
    'white': $white,
    'black': $black,
);

// When hovered it is this.
$color_hover: ('primary-color': $primary-300,
    'secondary-color': $secondary-800,
    'tertiary-color': $tertiary-400,
    'white': $tertiary-color,
    'black': $secondary-800,
);

// Text color is this.
$text_color: ('primary-color': $white,
    'secondary-color': $white,
    'tertiary-color': $black,
    'white': $black,
    'black': $white,
);

// Take the first colour to be the default.
$default: nth(nth($colors, 1), 2);
