.wp-block-gallery {
    .blocks-gallery-item {
        margin-bottom: 1rem;

        @media (max-width: 799px) {

            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }

    ul.blocks-gallery-grid {
        margin-left: 0;
        margin-top: $lg-padding;
        margin-bottom: calc(4rem - 1rem);
    }

}

.blocks-gallery-grid {
    justify-content: center;
}

p+.wp-block-gallery .blocks-gallery-grid {
    margin-top: calc(#{$lg-padding} - 2rem);
}


.blocks-gallery-caption {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}

.wp-block-gallery.is-style-no-margins {
    ul.blocks-gallery-grid {
        margin-top: 0;
        margin-bottom: 0;
    }

}
