.sticky-container {
    display: flex;
    flex-direction: column;
    margin-top: $sm-padding;

    @media (min-width: 800px) {
        flex-direction: row;
        margin-bottom: 10em;
        margin-top: $lg-padding;
    }
}

.sticky-column {
    @media (min-width:800px) {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
        margin-right: $sm-padding;
    }

    @media (min-width:900px) {
        max-width: 250px;
        min-width: 250px;
        width: 250px;
        margin-right: $sm-padding;
    }

    @media (min-width:1000px) {
        max-width: 300px;
        min-width: 300px;
        width: 300px;
        margin-right: $sm-padding;
    }
}

.sticky-element {
    max-width: 100%;

    @media (min-width:800px) {
        width: 200px;
    }

    @media (min-width:900px) {
        width: 250px;
    }

    @media (min-width:1000px) {
        width: 300px;
    }
}

@media (min-width:800px) {
    .sticky-nav-scroller {
        height: calc(100vh - 150px);
        overflow-y: scroll;
    }
}

.sticky-nav-hint {
    font-weight: 600;
    margin-bottom: 1rem;
    display: block;
    border-left: 4px solid transparent;

    @media (min-width: 800px) {
        padding-left: 1em;
    }
}

ul.tab-container-nav {
    padding: 0;
    max-width: 100%;

    @media (min-width: 800px) {
        list-style-type: none;
        margin: 0;
        padding-right: 1em;
    }
}

.tab-container-nav-item {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    @media (min-width: 800px) {
        padding-left: 1em;
    }

    border-left: 4px solid transparent;

    &.is-active {
        border-left: 4px solid $primary-color;
        background-color: $tertiary-color;
    }

    a {
        display: block;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.sticky-main-content {
    max-width: 800px;
}

.wp-block-lf-tab-container-block {
    margin-bottom: $lg-padding;

    @media (max-width: 799px) {
        border-top: 1px solid $grey-100;
        padding-top: 2rem;
    }
}


@media (min-width: 800px) and (max-height: 615px) {
    .sticky-element.is-sticky {
        top: 30px !important;
    }
}
