// Use entry-content class to encapsulate the_content.
// This lets us style lists and links suitable for content.

.entry-content {

    p {
        margin-bottom: 1.5em;
    }

    a {
        text-decoration: none;
        // color: $primary-color;
        color: $white;
        font-weight: 500;
        transition: all 0.25s ease-out;

        &:visited {
            text-decoration: none;
            color: $pink-300;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }

        /* mobile tap color */
        &:link {
            -webkit-tap-highlight-color: rgba($secondary-color, 0.3);
        }
    }

    ul {
        list-style: disc;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    ol {
        list-style: decimal;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    pre {
        background-color: $grey-800;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: auto;
        border-radius: .3em;
        border: 1px solid $black;
        font-family: $font-code;
        color: $grey-200;
        // fix for old code blocks.
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;

        code {
            overflow: auto;
            line-height: 1.5;
            color: $grey-200;
        }

        &.wp-block-preformatted {
            color: $grey-200;
        }
    }

    div[class*="highlighter-"] code,
    .code-toolbar code {
        display: block;
        margin: 0 20px;
        padding: 15px 16px 14px;
    }

    .is-disabled {
        color: $grey-400;
        cursor: not-allowed;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.875em;
        margin-bottom: 1em;
    }

    tr:nth-of-type(odd) {
        background: #FCFCFC;
    }

    th {
        background: $grey-800;
        color: white;
        font-weight: bold;
    }

    td,
    th {
        padding: 0.75em;
        border: 1px solid $grey-100;
        vertical-align: top;
    }

    // fix for responsive tables without thead or data-labels.
    @media only screen and (max-width: 768px) {
        table {
            overflow: hidden;
            overflow-x: scroll;
            display: block;
        }
    }

    // LFPH.
    .front-hero {
        background: linear-gradient(-90deg, #000f38 0%, #010119 100%);
        color: $white;

        .lfph-logo {
            max-width: 300px;

            @media (min-width: 768px) {
                padding-top: 100px;
                max-width: 350px;
                position: relative;
                z-index: 99;
            }

            @media (min-width: 1024px) {
                max-width: 400px;
            }

            @media (min-width: 1200px) {
                padding-top: 50px;
            }


        }

    }

    .front-hero-wrapper {
        padding-top: 2rem;

        @media (min-width: 375px) {
            padding-top: 3rem;
        }

        @media (min-width: 768px) {
            padding-top: 0;
            position: relative;
            height: 104vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 600px;

            @media (min-width: 1200px) {
                padding-top: 3rem;
                height: 104vh;
                min-height: 540px;

            }

            h2 {
                margin-top: 7rem;
                margin-bottom: 1rem;
                z-index: 100;
                width: 14em;
            }
        }
    }

    .front-hero-main-image {
        img {
            display: block;
            margin-top: 3rem;
            margin-bottom: 3rem;

            @media (min-width: 375px) {
                margin-top: 4rem;
                margin-bottom: 4rem;
            }

            @media (min-width: 500px) {
                margin-top: 3rem;
                margin-bottom: 3rem;
                max-width: 450px;
            }

            @media (min-width: 768px) {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: 1;
                right: 25px;
                max-width: 75%;
                height: auto;
                transform: translateY(-50%);
            }
        }

    }

    .front-hero-small {
        font-size: 1.35em;
        font-weight: 500;
        z-index: 100;
    }
}
