.footer {
    padding-top: 3em;
    padding-bottom: 5em;
    background-color: $secondary-color;
    color: $white;

    a {
        color: $blue-200;
        text-decoration: none;
        font-weight: 500;
    }


}

.copyright-text {
    text-align: center;

    @media (min-width: 1000px) {
        text-align: center;
    }

    a:hover::after {
        filter: none !important;
    }
}
