.newsletter {
    text-align: left;

    @media (min-width: 768px) {
        text-align: center;
    }

    background-color: $blue-700;
    color: $white;
    padding-top: 1em;
    padding-bottom: 2em;

    @media (min-width: 768px) {
        margin-top: 0;
    }

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }

    .form-message {
        font-weight: 600;

        &.is-active {
            border: 2px solid $white;
        }

        &.success {
            border: 2px solid $success;

        }

        &.error {
            border: 2px solid $error;
        }
    }

}

.newsletter-form {
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    align-items: center;

    @media (min-width: 500px) {
        align-items: flex-start;
    }

    >* {
        width: 100%;
        max-width: 325px;
    }

    >*:not(:last-child) {
        margin-bottom: 0.5em;
    }

    // @media (min-width: 460px) {
    //     flex-direction: row;
    //     flex-wrap: wrap;

    //     >* {
    //         width: initial;
    //         flex-grow: 1;
    //         flex-shrink: 1;
    //     }

    //     >*:not(:last-child) {
    //         margin-right: 0.5em;
    //     }
    // }

    // @media (max-width: 699px) {
    //     input {
    //         text-align: left;
    //     }
    // }
    @media (min-width: 700px) {
        flex-direction: row;
        justify-content: center;
        max-width: initial;

        >*:not(:last-child) {
            margin-bottom: 0;
            margin-right: 0.5em;
        }
    }
}
