.archive-container {
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    grid-template-rows: 1fr;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

    a {
        color: $primary-color;
    }
}

.archive-item {
    position: relative;
    display: flex;
    flex-direction: column;

    // Search.
    &.highlighted {
        border: 1px solid black;
        padding: 2em;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;

        &.featured {
            flex-direction: row;

            .archive-image-wrapper {
                flex-basis: 500px;
                max-width: 600px;
                min-width: 300px;
                flex-grow: 1;
                flex-shrink: 1;
            }

            .archive-text-wrapper {
                flex-basis: 300px;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    &.sticky {
        .archive-image-wrapper:after {

            content: "FEATURED";
            position: absolute;

            z-index: 10;
            color: $white;
            background-color: $primary-400;
            font-weight: 600;
            font-size: 14px;
            padding: 0.5em;

            // align top right small screens.
            @media (max-width: 767px) {

                top: 0;
                right: 0;
                // skew
                padding-left: 25px;
                clip-path: polygon(0px 0px, 22px 100%, 100% 100%, 100% 0px, 0px 0px);
            }

            // align bottom left on larger screens.
            @media (min-width: 768px) {
                bottom: 0;
                left: 0;
                // skew
                padding-right: 25px;
                clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, calc(100% - 22px) 0);
            }
        }
    }
}

.archive-title {
    margin-bottom: 0.5rem;
    line-height: 1.3;

    a {
        font-weight: 700;
    }
}

.archive-image-wrapper {
    border: 1px solid $tertiary-color;
    max-width: 100%;
    transition: all 0.25s ease;
    overflow: hidden;
    position: relative;
    object-fit: cover;

    // padding for image wrapper.
    &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 630px / 1200px * 100%;
    }

    &::after {
        // clear float.
        content: "";
        display: table;
        clear: both;
    }

    // stops 1px padding.
    img {
        display: block;
    }

    @media (max-width: 767px) {
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        flex-basis: 275px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 2.5rem;
        height: auto;

        &:hover {
            .newsroom-image {
                opacity: 0.75;
            }
        }
    }

    @media (min-width: 1000px) {
        flex-basis: 325px;
    }
}

.archive-image {
    object-fit: cover;
    width: 100%;
    height: 100.1%;
}

.archive-text-wrapper {
    @media (min-width: 768px) {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

// aligns the SVG default image.
.archive-default-svg {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

// In the News only.
.in-news-item {
    .archive-image-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        min-height: 150px;

        @media (max-width: 799px) {
            height: 200px;
        }

        a {
            display: flex;
            align-content: center;
            justify-content: center;
        }

        // apply to all images (inc default).
        img {
            align-self: center;
            // some control of size.
            max-height: 200px;
            // for small logos.
            min-width: 200px;

            // for non SVGs.
            &.media-logo {
                padding: 0.5em;
            }

            // for SVGs.
            .media-logo {
                &[src$=".svg"] {
                    padding: 2em;
                }
            }
        }
    }
}
