/* needed for old browsers */
dialog {
    display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
    overflow: hidden;
}

.modal-hide {
    display: none;
}

/* overlay covers everything */
.lf-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: .8;
    z-index: 666;
    cursor: pointer;
}

.lf-modal {
    position: fixed;
    border: 2px solid #000;
    background: #fff;
    z-index: 667;
    padding: 2em;
    overflow: auto;
    min-height: 300px;

    left: 0;
    top: 0;
    max-width: 100%;
    bottom: 0;

    @media (min-width: 768px) {

        top: 50%;
        left: 50%;
        width: 75%;
        max-width: 800px;
        max-height: 98vh;
        transform: translate(-50%, -50%);

        font-size: 0.8em;
    }

}

.lf-modal-close {
    float: right;
    background: transparent;
    border-radius: 50%;
    color: $black;
    padding: 1em;
    text-decoration: none;
    line-height: 1;
    text-align: center;
    font-weight: 900;
    border: 0;
    cursor: pointer;
}

.lf-modal-close:focus,
.lf-modal-close:hover,
.lf-modal-close:active {
    background: $link-hover;
}

.lf-modal-overlay[data-background-click="disabled"] {
    cursor: auto;
}

.lf-modal__content {
    a {
        color: $primary-color;
        font-weight: 500;
        transition: all 0.25s ease-out;

        &:visited {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }
    }

    .people-profile-picture {
        @media (max-width: 599px) {
            width: 300px;
            height: 300px;
            max-width: 100%;
        }

        height: 200px;
        width: 200px;
    }


}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 599px) {

        .modal__content {
            margin-top: 1rem;
        }
    }

    @media (min-width: 600px) {
        flex-direction: row;

        .modal__content {
            margin-left: 2rem;
        }
    }
}
