// Fixing alignment for blocks in editor.
.wp-block {
	max-width: 100%;
}

// unset margins, so they don't center.
.block-editor-block-list__layout .wp-block:not(.wp-block-button) {
	margin-left: unset;
	margin-right: unset;
}
